<div class="row">
  <div ng-repeat="n in [].constructor(form.columns) track by $index"
   ng-class="['col-xs-'+mcCtrl.bootstrapCol, 'col-sm-'+mcCtrl.bootstrapCol, 'col-md-'+mcCtrl.bootstrapCol, 'col-lg-'+12/mcCtrl.bootstrapCol]">
   <div ng-hide="true">{{columnIndex = $index}}</div>
    <div ng-repeat="val in titleMapValues.slice(columnIndex*mcCtrl.itemsPerColumn, $last? titleMapValues.length :(columnIndex + 1)*mcCtrl.itemsPerColumn) track by $index"
         class="checkbox">
          <div ng-hide="true">{{ realIndex = $index + columnIndex*mcCtrl.itemsPerColumn }}</div>
          <label>
            <input type="checkbox"
                   ng-disabled="form.readonly"
                   sf-changed="form"
                   class="{{form.fieldHtmlClass}}"
                   ng-model="titleMapValues[realIndex]"
                   name="{{form.key.slice(-1)[0]}}">
            <span ng-bind-html="form.titleMap[realIndex].name"></span>
          </label>
    </div>
  </div>
</div>